body {
  background-color: lightblue;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }
  .get{
    width:700px;
    margin:auto;
    height:auto;
    background: blue;
    padding:15px;  
  }
  input[type=text]{
    width:100%;
    padding:10px;
    font-size:22px;
    font-weight:italic;
    margin-top:20px;
    border-radius:5px;
     
  }
  input[type=button]{
    width:89px;
    padding:10px;
    font-size:22px;
    font-weight:italic;
    border-radius:5px;  
  }
  #del{
  width:100%;  
  }